.button {
    width: 280px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #dadce0;
    cursor: pointer;
}

.button-container {
    padding: 2px 10px;
    height: 100%;
}

.orange {
    background-color: #d93a00;
    color: white;
    font-weight: 700;
}

.orange:disabled {
    cursor: not-allowed;
    opacity: 0.2;
}

.auth-button {
    font-size: 14px;
    min-height: 32px;
    min-width: 32px;
    padding: 4px 16px;
    line-height: 21px;
    border-radius: 50px;
    background-color: inherit;
    color: #0079d3;
    border: 1px solid #0079d3;
    cursor: pointer;
}



.blue {
    background-color: #0079d3;
    color: white;
}

.red {
    background-color: red;
    color: white;
    border: 1px solid transparent;
}