.post {
    background-color: white;
    width: 640px;
    flex-grow: 1;
    margin: 5px 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    overflow: hidden;
}

.arrow {
    cursor: pointer;
}

.vote {
    padding: 8px 4px;
    font-size: 12px;
    background-color: #F8F9FA;
}

.post-data {
    padding: 8px 10px;
}

.meta-data {
    font-size: 12px;
    gap: 10px;
}

.extra-data {
    font-size: 14px;
}

.r-image img{
    height: 20px;
    width: 20px;
    border-radius: 50px;
    border: 1px solid rgb(219, 219, 219);
}

.post-image {
    max-width: 100%;
}

.title {
    font-size: 20px;
    margin: 15px 0;
}

.post-footer {
    gap: 15px;
    font-size: 12px;
    color: grey;
    padding: 10px 0 0 0;
}

.footer-icon {
    margin:0 5px ;
}

.edit-con {
    font-size: 14px;
    border: 1px solid rgb(195, 195, 195);
    padding: 5px 10px;
    border-radius: 3px;
}

.edit {
    width: 100%;
    border: none;
}

.edit:focus {
    outline: none;
}

.on-edit {
    cursor: pointer;
    padding: 5px;
    border-radius: 2px;
    border: none;
    background-color: inherit;
    color: inherit;
}

.on-edit:hover {
    background-color: rgb(232, 232, 232);
}

.on-edit:disabled {
    cursor: not-allowed;
}

.red-text {
    color: red;
    font-size: 12px;
}

.orange-text {
    color: #d93a00;
}

@media screen and (max-width:650px) {
    .post {
        width: 97%;
    }
}