.form-container {
    height: 640px;
    width: 400px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 14px;
    border-radius: 12px;
}

.blue {
    color: #0079d3;
}

.main-container {
    width: 280px;
    gap: 10px;
}

.close {
    right: 16px;
    top: 16px;
    height: 14px;
    width: 14px;
    cursor: pointer;
}

.icon {
    height: 18px;
    width: 18px;
    flex-shrink: 0;
    margin: 0;
    
}

.icon img {
    padding-bottom: 8px;
}

.text {
    flex-grow: 1;
    text-align: center;
}

.divider {
    margin: 28px 0;
}

.divider-line {
    border-top: 1px solid #e6e7e7;
    width: 40%;
}

.agree {
    font-size: 12px;
}

.orange-text {
    color: #d93a00;
    font-size: 0.8em;
}

.go-back {
    top: 24px;
    width: 14px;
    left: 55px;
    padding: 8px;
    cursor: pointer;
}